<div class="container">
    <div class="backgroundFon">
    </div>
    <div class="wrapper">
        <h1 id="title">Доставка і оплата</h1>
        <div class="maps">
            <div class="zoneOfDelivery">
                <div class="zone">
                    <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fbike_green.svg?alt=media&token=747bd5f6-7f69-4cd8-90a5-b8c5b71278af"
                        alt="">
                    <div class="zone-item">
                        <p class="zone-title" style="color: #599921;">Зелена зона</p>
                        <ul>
                            <li class="text-zone">Орієнтовний час доставки 55 хвилин</li>
                            <li class="text-zone">При замовленні від 350 грн привеземо БЕЗКОШТОВНО</li>
                            <li class="text-zone">При замовленні до 350 грн вартість доставки 80 грн</li>
                        </ul>
                    </div>
                </div>
                <div class="zone">
                    <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fbike_red.svg?alt=media&token=031b7e4a-1081-4892-8f38-fbf639340f04"
                        alt="">
                    <div class="zone-item">
                        <p class="zone-title" style="color: #ef2f3d;">Червона зона</p>
                        <ul>
                            <li id="text-zone-red" class="text-zone">Орієнтовний час доставки 69 хвилин</li>
                            <li id="text-zone-red" class="text-zone">Мінімальне замовлення 400 грн вартість доставки 120
                                грн</li>
                            <li id="text-zone-red" class="text-zone">При замовленні від 600 грн привеземо БЕЗКОШТОВНО
                            </li>
                            <li id="text-zone-red" class="text-zone">Доставка доступна до 21:00</li>
                        </ul>
                    </div>
                </div>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4588.070775823069!2d24.011476655126476!3d49.771743515549346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae62601555555%3A0xedf4c375c97eaa70!2z0LLRg9C7LiDQodGC0YDQuNC50YHRjNC60LAsIDMwLCDQodC-0LrRltC70YzQvdC40LrQuCwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA4MTEzMA!5e0!3m2!1sru!2sua!4v1719663443347!5m2!1sru!2sua"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="description">
            <h2 class="description-title">
                Доставка їжі у Львові: замовляй улюблені страви з NOA
            </h2>
            <p class="description-text">
                Cніданок, обід або вечеря — безкоштовна доставка їжі у Львові з ресторану NOA виручає завжди! Смачні
                страви азійської кухні, розмаїття рецептів та найшвидші у світі кур’єри: ми дбаємо про те, щоб замовити
                їжу можна було легко й комфортно. Тож сьогодні розкажемо більше про те, як працює наша доставка!
            </p>
        </div>
        <h2 class="article-title">Оплата</h2>
        <div class="typeOfPayment">
            <div class="payment">
                <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fpay_page_one.svg?alt=media&token=39489e84-de8c-43d2-994f-1bc9e2abf0f8"
                    alt="">
                <div class="payment-info">
                    <h3 class="payment-title">Оплата LiqPay</h3>
                    <p class="payment-text">
                        Розраховуйся онлайн за своє замовлення через сервіс LiqPay на сайті
                    </p>
                </div>
            </div>
            <div class="payment">
                <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fpay_page_two.svg?alt=media&token=158357af-1117-4e0d-8395-6942535d92d7"
                    alt="">
                <div class="payment-info">
                    <h3 class="payment-title">Оплата карткою</h3>
                    <p class="payment-text">
                        Наш кур'єр має з собою термінал та приймає карту для оплати
                    </p>
                </div>
            </div>
            <div class="payment">
                <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fpay_page_tree-1.svg?alt=media&token=c07f7c00-57cc-46eb-a04b-ac2869c693d3"
                    alt="">
                <div class="payment-info">
                    <h3 class="payment-title">Оплата готівкою</h3>
                    <p class="payment-text">
                        Сплачуй готівкою при отриманні замовлення, попередь якщо потрібна решта
                        Доставка їжі з NOA: які страви ми пропонуємо?
                    </p>
                </div>
            </div>
        </div>
        <div class="description">
            <h2 class="description-title">
                Доставка їжі з NOA: які страви ми пропонуємо?
            </h2>
            <p class="description-text">
                Величезне меню з традиційними ролами, локшиною вок, десертами та напоями, які підкреслюють смак страв.
                Ми створюємо азійські страви зі свіжих та добірних компонентів. Наші кухарі дбають про правильне
                зберігання й ретельно обробку всіх складників. Саме тому, кожна страва з нашого меню — досконала. А
                гості НОА — завжди задоволені.
                В нашому ресторані ви можете замовити їжу на будь-який смак:
            </p>
            <ul>
                <li class="description-punkts">Роли та суші-сети — як традиційні, так і авторські. З лососем, вугрем та
                    іншими смачними складниками.</li>
                <li class="description-punkts">WOK — локшину й рис. Готуємо вок з куркою, морепродуктами, овочами та
                    власноруч розробленими соусами. Маємо пікантні страви для тих, хто полюбляє гостре.</li>
                <li class="description-punkts">Рамени — з яловичиною, курятиною, свининою, морепродуктами, гьодзе. Ситно
                    та смачно.</li>
                <li class="description-punkts">Poke-боули — з тунцем, лососем та іншими смачними інгредієнтами.</li>
            </ul>
            <p class="description-text">
                Кожного дня з 10 ранку та до 18:00 у нас можна посмакувати сніданками. Ви можете замовити сирники,
                хашбраун, омлети та тости. Починайте день смачно!
                Окрім цього, у нас є десерти, стартери, напої. Ви можете замовити доставку будь-яких страв для
                повноцінного обіду, вечері або зустрічі з друзями. Тому якщо любите смачно поїсти, не витрачаючи час
                біля плити — вам до нас!
            </p>
        </div>
        <div class="description">
            <h2 class="description-title">
                Як оплатити доставку їжі з NOA?
            </h2>
            <p class="description-text">
                Діє безкоштовна доставка замовлень на суму 300 грн (Зелена та Жовта зони) й 350 грн у Червоній зоні. У
                вас є можливість оплатити своє замовлення можна зручними способами — на сайті через систему LiqPay,
                карткою або готівкою кур’єру. Просто вкажіть варіант, який вам підходить.
                NOA — це:
            </p>
            <ul>
                <li class="description-punkts">Лише добірні компоненти. Дбаємо про якість кожного складника, щоб ви
                    могли насолоджуватися справді смачною та корисною їжею, приходячи до нас.</li>
                <li class="description-punkts">Величезний вибір страв на будь-який смак. Ми знаємо про азійську кухню
                    все, та навіть більше. Вдосконалюємо традиційні рецепти та створюємо авторські новинки для вас.</li>
                <li class="description-punkts">Швидка доставка. Ви отримаєте замовлення без затримок — це гарантують
                    наші швидкі кур’єри. Робимо усе можливе для того, щоб ви могли смакувати улюбленими стравами без
                    затримок.</li>
            </ul>
            <p class="description-text">
                Ми працюємо щодня та без вихідних, у будні й у свята. <br>
                Щоб замовити їжу у Львові, просто оберіть страви до смаку, додайте їх у кошик та дочекайтесь кур’єра.
                Також чекаємо на вас у нашому ресторані. Бажаємо смачного!
            </p>
        </div>
    </div>
</div>