@import "../shared/styles/base";
@import "../shared/styles/_mixins.scss";
@import "../shared/styles/_variables.scss";



.container {
    position: relative;
    width: 100%;
    min-height: 880px;
    padding-bottom: 50px;

    .backgroundFon {
        position: absolute;
        @include box(100%, 100%);
        background-image: url("https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fpattern.png?alt=media&token=2d68ae9d-df78-46a7-9287-80e5a0cf9598");
        background-color: rgba(0, 0, 0, 0.96);
        background-size: contain;
        background-repeat: repeat-y;
        background-blend-mode: multiply;
        z-index: -1;
    }

    .o {
        position: absolute;
        display: block;
        width: 234px;
        height: 389px;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fprod_decor.svg?alt=media&token=30b94634-67f2-4e7a-b4de-4f9bd1e63eea");
        z-index: -1;
        left: 0;
        top: 35%;
    }

    .wrapper {
        position: relative;
        z-index: 1;
        width: 1300px;
        min-height: 880px;
        margin: 0px auto;

        .header {
            margin: auto;
            width: 1300px;
            position: relative;
            height: 470px;
            z-index: 2;

            .breadcrumps {
                position: absolute;
                @include flex-row(flex, row, start, center);
                z-index: 3;
                width: 100%;
                height: 40px;
                padding-left: 50px;

                li {
                    color: #ececec;
                    list-style: none;
                    font-family: sans-serif;
                    font-size: 13px;
                    letter-spacing: 1px;
                    cursor: pointer;
                    transition: color 0.3s;

                    &:hover {
                        color: white;
                    }

                    &::after {
                        content: '';
                        position: relative;
                        display: inline-block;
                        vertical-align: bottom;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 2px solid #ececec;
                        margin: 0 15px 0 10px;
                        z-index: 3;
                    }

                    &:last-child {
                        color: white;
                    }

                    &:last-child::after {
                        display: none;
                    }
                }
            }

            .banner {
                width: 1300px;
                position: relative;
                height: 470px;
                z-index: 2;
                display: flex;
                align-items: center;

                .banner-img {
                    width: 1300px;
                    height: 470px;
                    display: block;
                    position: absolute;
                    background-position: center;


                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.31);
                }

                .city {
                    width: 100%;
                    color: white;
                    position: absolute;
                    text-align: center;
                    font-size: 20px;
                    font-family: sans-serif;
                    letter-spacing: 1px;
                    line-height: 30px;
                    z-index: 4;
                }
            }
        }

        .main {
            width: 95%;
            margin: 40px auto;
            min-height: 300px;
            @include flex-row(flex, row, space-between, start);

            .info {
                width: 47%;
                min-height: 300px;


                .description {
                    font-size: 18px;
                    line-height: 1.5em;
                    color: #c5c5c5;
                    margin-bottom: 20px;
                    font-family: sans-serif;
                }

                .info-contact {
                    font-size: 18px;
                    line-height: 1.5em;
                    color: #c5c5c5;
                    font-family: sans-serif;
                }

                .numberOfphone {
                    color: #2d7d7d;
                    font-weight: 500;

                    cursor: pointer;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: '';
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        right: auto;
                        right: 0;
                        background-color: #2d7d7d;
                        transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                    }

                    &:hover::before {
                        width: 0;
                    }
                }


            }

            .form {
                width: 47%;
                @include flex-row(flex, column, start, center);
                margin-left: 30px;

                .article-title {
                    width: 100%;
                    font-size: 26px;
                    line-height: 1.2em;
                    color: white;
                    text-align: center;
                    font-weight: 500;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                    margin-bottom: 20px;
                }

                .sub-title {
                    font-size: 15px;
                    line-height: 1.5em;
                    color: #c5c5c5;
                    margin-bottom: 20px;
                    font-family: sans-serif;
                    font-weight: 400;
                }

                .row-input {
                    width: 100%;
                    @include flex-row(flex, row, space-between, center);
                    margin-bottom: 30px;

                    .input {
                        @include box(45%, 54px);
                        font-size: 16px;
                        color: white;
                        border: 1px solid #212121;
                        background-color: #151515;
                        line-height: 51px;
                        padding: 0 20px;
                        border-radius: 3px;
                        -webkit-transition: 0.25s;
                        transition: 0.25s;
                        text-overflow: ellipsis;

                        &:focus {
                            outline: 1px solid #2d7d7d;
                        }

                        &::placeholder {
                            color: #c5c5c5;
                            font-size: 16px;
                            font-family: sans-serif;
                            margin-left: 20px;
                            margin-bottom: 20px;
                        }
                    }

                    .form-row {
                        width: 100%;
                    }
                }

                textarea {
                    width: 100%;
                    height: 105px;
                    padding-top: 15px;
                    padding-bottom: 5px;
                    line-height: 18px;
                    font-size: 16px;
                    color: white;
                    border: 1px solid #212121;
                    background-color: #151515;
                    line-height: 51px;
                    padding: 0 20px;
                    border-radius: 3px;
                    -webkit-transition: 0.25s;
                    transition: 0.25s;
                    text-overflow: ellipsis;

                    &:focus {
                        outline: 1px solid #2d7d7d;
                    }

                    &::placeholder {
                        color: #c5c5c5;
                        font-size: 16px;
                        font-family: sans-serif;
                        margin-left: 20px;
                        margin-bottom: 20px;
                    }
                }

                #sendButton {
                    width: 100%;
                    height: 60px;
                    cursor: pointer;
                    background-color: #2d7d7d;
                    border-radius: 6px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    line-height: 18px;
                    font-size: 16px;
                    color: white;
                    font-family: sans-serif;
                    letter-spacing: 2px;
                }
            }
        }
    }
}


@media screen and (max-width: 1365px) {
    .container {
        .wrapper {
            width: 1200px;


            .header {
                width: 1180px;


                height: 430px;

                .banner {
                    width: 1180px;

                    height: 430px;

                    .banner-img {
                        width: 1180px;

                        height: 430px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        .wrapper {
            width: 950px;

            .header {
                height: 380px;
                width: 950px;

                .banner {
                    height: 380px;
                    width: 950px;

                    .banner-img {
                        height: 380px;
                        width: 950px;
                    }
                }
            }

            .main{
                flex-direction: column;

                .info{
                    width: 100%;

                    .description{
                        font-size: 16px;
                    }

                    .info-contact{
                        font-size: 16px;
                    }
                }

                .form{
                    width: 70%;
                    margin: 30px auto;
                }
            }

        }
    }
}



@media screen and (max-width: 996px) {
    .container {
        .wrapper {
            width: 650px;

            .header {
                width: 650px;
                margin: auto;
                height: 290px;

                .banner {
                    height: 290px;
                    width: 650px;

                    .banner-img {
                        height: 290px;
                        width: 650px;

                    }
                }
            }


            .main{
                flex-direction: column;
                width: 100%;
                

                .form{
                    width: 100%;

                    .row-input{
                        flex-wrap: wrap;
                        margin: 0;
                        .input{
                            margin-top: 20px;
                            width: 100%;
                        }
                    }

                    textarea{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}





@media screen and (max-width: 796px) {
    .container {
        .wrapper {

            width: 510px;

            .header {
                width: 510px;
                margin: auto;
                height: 230px;

                .banner {
                    height: 230px;
                    width: 510px;

                    .banner-img {
                        height: 230px;
                        width: 510px;


                    }
                }
            }



        }
    }
}


@media screen and (max-width: 596px) {
    .container {
        .wrapper {


            width: 400px;

            .header {
                width: 400px;
                margin: auto;
                height: 180px;

                .breadcrumps{
                    display: none;
                }

                .banner {
                    height: 180px;
                    width: 400px;

                    .banner-img {
                        height: 180px;
                        width: 400px;


                    }
                }
            }



        }
    }
}



@media screen and (max-width: 450px) {
    .container {
        .wrapper {


            width: 350px;

            .header {
                width: 350px;
                height: 150px;

                .banner {
                    height: 150px;
                    width: 350px;

                    .banner-img {
                        height: 150px;
                        width: 350px;

                    }
                }
            }



        }
    }
}

@media screen and (max-width: 368px) {
    .container {
        .wrapper {


            width: 300px;

            .header {
                width: 300px;
                height: 120px;

                .banner {
                    height: 120px;
                    width: 300px;

                    .banner-img {
                        height: 120px;
                        width: 300px;

                    }
                }
            }



        }
    }
}