<div class="container">
    <h2 class="title">Зміна паролю</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div class="form-group">
        <input formControlName="currentPassword" placeholder="*Ваш поточний пароль" type="password" id="currentPassword" class="form-control">
      </div>
      <div class="form-group">
        <input formControlName="newPassword" placeholder="*Новий пароль" type="password" id="newPassword" class="form-control">
      </div>
      <div class="form-group">
        <input formControlName="confirmNewPassword" placeholder="*Повторіть пароль" type="password" id="confirmNewPassword" class="form-control">
      </div>
      <button type="submit"  class="button">Зберегти зміни</button>
    </form>
  </div>
  