<div class="container">
    <div class="backgroundFon"></div>
    <div class="main-item">
        <div class="up-bottom">
            <p class="yearCreation">© 2024 NOA</p>
            <p class="dealAndOferta" [routerLink]="[ '/oferta' ]">Договір Оферта</p>
        </div>
        <div class="down-bottom">
            <div class="methodOfPayment">
                <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fpay_one.svg?alt=media&token=e705dccb-97f0-4389-876b-94cd14d04506" class="payment">
                <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fpay_two.svg?alt=media&token=ab425b54-a2f6-4a35-b231-fc419a758aec" class="payment">
            </div>
            <div class="socialMedia">
                <p class="social-p">noa.asian</p>
                <img id="facebook" href="https://www.facebook.com/noa.asian/"  src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2F59439.png?alt=media&token=3a87c885-2bbc-43ba-bc1d-162f822fbc16" class="media">
                <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2F38-instagram-2-512.webp?alt=media&token=39e7f5df-9ac1-43ba-9afe-8849f49e32ce" class="media">
            </div>
        </div>
       
    </div>
</div>
 