<div class="container">
    <div class="backgroundFon">
    </div>
    <div class="o">

    </div>
    <div class="wrapper">
        <div class="header">
            <ul class="breadcrumps">
                <li [routerLink]="[ '' ]">Головна</li>
                <li [routerLink]="[ '/job' ]">Вакансії</li>
                <li>Знайомство з нами</li>
            </ul>
            <div class="banner">
                <img class="banner-img" src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fnoa-1725h600px-1720x600.jpg?alt=media&token=b3f8fd3e-1d02-4e34-8116-ebb557121c31">
                <div class="city">
                    <b style="letter-spacing: 2px;">Місто</b> <br> Lviv
                </div>
            </div>
        </div>
        <div class="main">
            <div class="info">
                <div class="description">
                    Привіт) <br>
                    Тебе вітає команда HR – відділу нашої компанії! <br>
                    Для початку маємо сказати, що ми дуже любимо свою роботу! <br>
                    І зробимо все можливе щоб і тобі у нас сподобалось. <br>
                    Наша компанія на ринку з 2016 року, зараз у нас більше десяти ресторанів різних напрямків, і ми
                    продовжуємо працювати над новими проектами. <br>
                    Знаємо, що основа будь якої справи – це люди, тому будемо дуже раді, якщо зможемо запропонувати
                    роботу
                    тобі до душі. <br>
                    У нас є вакансії в різних локаціях по місту, а також в офісі, тому впевнені що маємо хороші варіанти
                    для
                    найрізноманітніших запитів. <br>
                    Ми завжди пропонуємо конкурентну заробітну плату, можливість карʼєрного росту, у нас багато цікавих
                    навчальних програм та найрізноманітніших бонусів.
                </div>
                <p class="info-contact">
                    Для детальнішої інформації – дзвони, пиши:
                </p>
                <p class="info-contact">Директор з персоналу Бріжанкіна Ольга<br>
                    <span class="numberOfphone">+380678844699</span> (viber/TG)
                </p>
                <p class="info-contact">
                    Старший рекрутер Деменчук Дарія <br>
                    <span class="numberOfphone">+380636581430</span><br>
                    <span class="numberOfphone">+380678844695</span> (viber/TG) <br>
                    <span class="numberOfphone">https://www.linkedin.com/in/daria-demenchuk-69b703209</span>
                </p>
                <p class="info-contact">
                    Рекрутер Гладиш Марія <br>
                    <span class="numberOfphone">+380639581747</span><br>
                    <span class="numberOfphone">+380676996634</span> (viber/TG) <br>
                    <span class="numberOfphone">https://www.linkedin.com/in/mariia-hladysh-99638818a/</span>
                </p>
                <p class="info-contact">
                    Рекрутер Прийма Софія <br>
                    <span class="numberOfphone">+380930204956</span> <br>
                    <span class="numberOfphone">+380671070761</span> (viber/TG) <br>
                    <span class="numberOfphone">https://www.linkedin.com/in/sofiya-pryima-8b1323215/</span>
                </p>
            </div>
            <div class="form">
                <h2 class="article-title">Заявка на вакансію
                </h2>
                <h3 class="sub-title">Заповніть дану заявку і ми зв’яжемося з вами найближчим часом</h3>
                <div class="row-input">
                    <input placeholder="Ваше ім'я" class="input" type="text">
                    <input placeholder="Ваше прізвище" class="input" type="text">
                </div>
                <div class="row-input">
                    <input placeholder="+38 (ххх) ххх хх хх" class="input form-row"  type="text">
                </div>
                <div class="row-input">
                    <input placeholder="Ваш е-mail" class="input form-row" type="text">
                </div>
                <textarea placeholder="Чому ви хочете працювати з нами? " name="" id="" cols="30" rows="10"></textarea>
                <button id="sendButton">Надіслати</button>
            </div>
        </div>
    </div>
</div>