<div class="container">
    <div class="backgroundFon">
    </div>
    <div class="wrapper">
        <h1 id="title">Приєднуйся до команди NOA</h1>
        <div class="post" [routerLink]="[ '/job-meet' ]">
            <div class="image-container">
                <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fnoa-2560x1709px-614x370.jpg?alt=media&token=31c7eec4-e407-4788-b69b-69e746858f2b"
                id="meet-img">
            </div>
            <h2 class="meet-name">ЗНАЙОМСТВО З НАМИ</h2>
        </div>
    </div>
</div>