<div class="container">
    <div class="backgroundFon">
    </div>
    <div class="wrapper">
        <h1 id="title">Наші контакти</h1>
        <div class="block-wrapper">
            <div class="block">
                <h3 class="street">ТРЦ Victoria Gardens</h3>
                <div class="block-info">
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_one.svg?alt=media&token=adaa8821-c5d2-4f33-a65e-ad55cdf95522"
                            alt="">
                        <p class="text-street"><b>м. Львів</b>
                            <br>
                            Кульпарківська 226 А
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_two.svg?alt=media&token=63b635f0-be85-45d8-a619-d4ecb959e107"
                            alt="">
                        <p class="text-street bold-text">victoriagardens@noa.lviv.ua</p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_tree.svg?alt=media&token=394893e3-0ff3-4b3b-8bd3-b5eaeebd6ef7"
                            alt="">
                        <p class="text-street bold-text phone-text"> 067 792 90 90</p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_foure.svg?alt=media&token=c27421d8-14e4-4beb-9603-dde822163320"
                            alt="">
                        <p class="text-street bold-text"> Пн - Нд з 10:00 до 22:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <h3 class="street">NOA Староєврейська </h3>
                <div class="block-info">
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_one.svg?alt=media&token=adaa8821-c5d2-4f33-a65e-ad55cdf95522"
                            alt="">
                        <p class="text-street">
                            <b>м. Львів</b>
                            <br>
                            Староєврейська 4
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_two.svg?alt=media&token=63b635f0-be85-45d8-a619-d4ecb959e107"
                            alt="">
                        <p class="text-street bold-text"> staroevreyska@noa.lviv.ua
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_tree.svg?alt=media&token=394893e3-0ff3-4b3b-8bd3-b5eaeebd6ef7"
                            alt="">
                        <p class="text-street bold-text phone-text"> 067 884 46 17</p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_foure.svg?alt=media&token=c27421d8-14e4-4beb-9603-dde822163320"
                            alt="">
                        <p class="text-street bold-text"> Пн - Нд з 10:00 до 23:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <h3 class="street">NOA Крива Липа
                </h3>
                <div class="block-info">
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_one.svg?alt=media&token=adaa8821-c5d2-4f33-a65e-ad55cdf95522"
                            alt="">
                        <p class="text-street">
                            <b>м. Львів</b>
                            <br>
                            Крива Липа 8
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_two.svg?alt=media&token=63b635f0-be85-45d8-a619-d4ecb959e107"
                            alt="">
                        <p class="text-street bold-text"> kl@noa.lviv.ua
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_tree.svg?alt=media&token=394893e3-0ff3-4b3b-8bd3-b5eaeebd6ef7"
                            alt="">
                        <p class="text-street bold-text phone-text"> 067 884 46 96</p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_foure.svg?alt=media&token=c27421d8-14e4-4beb-9603-dde822163320"
                            alt="">
                        <p class="text-street bold-text"> Пн - Нд з 11:00 до 22:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <h3 class="street">СТРЦ Spartak
                </h3>
                <div class="block-info">
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_one.svg?alt=media&token=adaa8821-c5d2-4f33-a65e-ad55cdf95522"
                            alt="">
                        <p class="text-street">
                            <b>м. Львів</b>
                            <br>
                            Мазепи 1Б
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_two.svg?alt=media&token=63b635f0-be85-45d8-a619-d4ecb959e107"
                            alt="">
                        <p class="text-street bold-text"> spartak@noa.lviv.ua
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_tree.svg?alt=media&token=394893e3-0ff3-4b3b-8bd3-b5eaeebd6ef7"
                            alt="">
                        <p class="text-street bold-text phone-text">067 884 46 31</p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_foure.svg?alt=media&token=c27421d8-14e4-4beb-9603-dde822163320"
                            alt="">
                        <p class="text-street bold-text">Пн - Нд з 10:00 до 22:00</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <h3 class="street">ТРЦ King Cross Leopolis
                </h3>
                <div class="block-info">
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_one.svg?alt=media&token=adaa8821-c5d2-4f33-a65e-ad55cdf95522"
                            alt="">
                        <p class="text-street">
                            <b>с. Сокільники</b>
                            <br>
                            Стрийська 30
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_two.svg?alt=media&token=63b635f0-be85-45d8-a619-d4ecb959e107"
                            alt="">
                        <p class="text-street bold-text"> kingcross@noa.lviv.ua
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_tree.svg?alt=media&token=394893e3-0ff3-4b3b-8bd3-b5eaeebd6ef7"
                            alt="">
                        <p class="text-street bold-text phone-text"> 067 884 45 90</p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_foure.svg?alt=media&token=c27421d8-14e4-4beb-9603-dde822163320"
                            alt="">
                        <p class="text-street bold-text"> Пн - Нд з 10:00 до 21:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <h3 class="street">Комерційний відділ
                </h3>
                <div class="block-info">
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_two.svg?alt=media&token=63b635f0-be85-45d8-a619-d4ecb959e107"
                            alt="">
                        <p class="text-street bold-text">ya.chaplinskyi@gmail.com
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_tree.svg?alt=media&token=394893e3-0ff3-4b3b-8bd3-b5eaeebd6ef7"
                            alt="">
                        <p class="text-street bold-text phone-text"> 096 469 90 83</p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_foure.svg?alt=media&token=c27421d8-14e4-4beb-9603-dde822163320"
                            alt="">
                        <p class="text-street bold-text"> Пн - Пт з 09:00 до 18:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <h3 class="street">Marketing Department
                </h3>
                <div class="block-info">
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_two.svg?alt=media&token=63b635f0-be85-45d8-a619-d4ecb959e107"
                            alt="">
                        <p class="text-street bold-text">tnu.lviv@gmail.com
                        </p>
                    </div>
                    <div class="wrapper-block">
                        <img src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fcontact_icon_foure.svg?alt=media&token=c27421d8-14e4-4beb-9603-dde822163320"
                            alt="">
                        <p class="text-street bold-text"> (ENG) Mo - Fri 9:00 to 18:00
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-main">
            <div class="form">
                <h2 class="article-title">У тебе виникли запитання? Напиши нам!
                </h2>
                <div class="row-input">
                    <input placeholder="Ім'я" class="input" type="text">
                    <input placeholder="Прізвище" class="input" type="text">
                </div>
                <div class="row-input">
                    <input placeholder="+38 (ххх) ххх хх хх" class="input" type="text">
                    <input placeholder="E-mail" class="input" type="text">
                </div>
                <textarea placeholder="Повідомлення" name="" id="" cols="30" rows="10"></textarea>
                <button id="sendButton">Надіслати</button>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4588.070775823069!2d24.011476655126476!3d49.771743515549346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae62601555555%3A0xedf4c375c97eaa70!2z0LLRg9C7LiDQodGC0YDQuNC50YHRjNC60LAsIDMwLCDQodC-0LrRltC70YzQvdC40LrQuCwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA4MTEzMA!5e0!3m2!1sru!2sua!4v1719663443347!5m2!1sru!2sua"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</div>