@import "../shared/styles/base";
@import "../shared/styles/_mixins.scss";
@import "../shared/styles/_variables.scss";



.container {
    position: relative;
    width: 100%;
    min-height: 880px;
    padding-bottom: 50px;

    .backgroundFon {
        position: absolute;
        @include box(100%, 100%);
        background-image: url("https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fpattern.png?alt=media&token=2d68ae9d-df78-46a7-9287-80e5a0cf9598");
        background-color: rgba(0, 0, 0, 0.96);
        background-size: contain;
        background-repeat: repeat-y;
        background-blend-mode: multiply;
        z-index: -1;
    }

    .wrapper {
        position: relative;
        z-index: 1;
        width: 90%;
        min-height: 880px;
        margin: 0px auto;
        padding-top: 50px;

        #title {
            @include box(100%, 60px);
            text-align: center;
            font-size: 42px;
            font-family: sans-serif;
            letter-spacing: 4px;
            color: white;
            margin-bottom: 60px;
        }

        .donater-list {
            width: 100%;
            min-height: 100px;
            @include flex-row(flex, row, space-between, center);
            border-bottom: 5px solid #2d7d7d;

            .donater {
                width: 16%;
                display: block;
            }
        }

        .count {
            width: 100%;
            font-family: sans-serif;
            text-align: center;
            color: #ccc;
            font-size: 35px;
            letter-spacing: 1px;
            margin-top: 50px;

            .count-span {
                font-size: 70px;
                letter-spacing: 2px;
                color: white;
            }

        }

        .description {
            width: 100%;
            min-height: 100px;
            background-color: rgba(45, 125, 125, 0.2);
            padding: 30px;
            margin-top: 50px;

            .description-title {
                width: 100%;
                text-align: center;
                font-size: 34px;
                color: white;
                font-weight: 500;
                font-family: sans-serif;
                letter-spacing: 1.5px;
                margin-bottom: 30px;
            }

            .description-text {
                font-size: 18px;
                line-height: 1.5em;
                font-weight: 400;
                font-family: sans-serif;
                color: white;
                text-align: center;
                margin-bottom: 10px;
            }
        }

        .carousel {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            position: relative;
            align-items: center;
            margin-top: 50px;

            .carousel-track {
                display: flex;
                transition: transform 0.5s ease-in-out;

                .carousel-slide {
                    min-width: 50%;
                    height: 420px;
                    transition: opacity 0.5s ease-in-out;
                    margin-right: 50px;

                    img {
                        min-width: 50%;
                        height: 420px;
                    }
                }
            }



            .carousel-buttons {
                position: absolute;
                top: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);

                .carousel-button {
                    background: rgba(0, 0, 0, 0.5);
                    color: white;
                    border: none;
                    padding: 10px;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                }

            }




            .carousel-nav {
                display: flex;
                justify-content: center;
                margin-top: 20px;

                .carousel-nav-button {
                    background: white;
                    color: white;
                    border: none;
                    margin: 0 5px;
                    width: 30px;
                    height: 4px;
    
                    cursor: pointer;

                   
                }
    
                .carousel-nav-button.active {
                    background: #2d7d7d;
                    width: 50px;
                }
            }

            

        }



    }
}