@import "../shared/styles/base";
@import "../shared/styles/_mixins.scss";
@import "../shared/styles/_variables.scss";


.container {
    position: relative;
    width: 100%;
    min-height: 880px;
    padding-bottom: 50px;

    #form {
        @include box(30%, 500px);
        border-radius: 25px;
        border: 5px solid black;
        margin: 100px auto;
        @include flex-row(flex, column, flex-start, center);


        .group {
            @include flex-row(flex, column, space-between, left);
            @include box(80%, 80px);
            margin: 50px auto;
        }

        .label{
            @include text(18px, sans-serif, bold)
        }

        .inputForm{
            @include box(100%, 50px);
            border-radius: 5px;
            border: 2px solid black;
            padding: 10px;
        }

        .inputForm::placeholder{
            @include text(14px, sans-serif, normal);

        }

        #butLogin{
            @include box(80%, 50px);
            margin: auto;
            background-color: wheat;
            border-radius: 10px;
            @include text(18px, sans-serif, bold);
            color: black;
        }
    }


}