<div class="container">
    <div class="backgroundFon">
    </div>
    <div class="wrapper">
        <h1 id="title">Про нас</h1>
        <div class="main">
            <div class="wrapper-text">
                <h2 class="article-title">NOA - місце, де багато живого вогню і смачних страв з особливим східним
                    характером</h2>
                <div class="text">
                    <p class="text-p">Бренд паназійських ресторанів ”NOA” заснований у 2018 р.</p>
                    <p class="text-p"> На сьогоднішній день у Львові працює 5 ресторанів мережі.</p>
                    <p class="text-p">В основі меню – авторська версія паназійської кухні. Ми любимо експериментувати. Застосовуємо
                        азійські
                        традиції в стравах інших країн. І навпаки. Шукаємо баланс в смаках з усіх кінців світу. І як
                        тільки
                        рівновагу знайдено, страва з’являється в нашому меню.</p>
                    <p class="text-p">І абсолютно неважливо чи замовляєте ви страви, відвідуючи наш ресторан, оформляєте take away або
                        замовлення на доставку. Ми гарантуємо, що кожна страва на нашій кухні готуватиметься з турботою
                        і
                        любов’ю до деталей і ніяк інакше!</p>
                </div>
            </div>
            <img id="image" src="https://firebasestorage.googleapis.com/v0/b/noa1-cc860.appspot.com/o/images%2Fscreenshot_23-425x404.webp?alt=media&token=37119c34-5090-4a31-9270-8ec06cfb4150" alt="">
        </div>
    </div>
</div>