@import "../../shared/styles/base";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";



.container {
    width: 800px;
    min-height: 500px;
    margin: auto;


    #formPersonal {
        width: 100%;
        height: 100%;


        .punkts-menu {
            @include flex-row(flex, row, left, left);
            @include box(80%, 40px);
            margin: 25px auto;

            .num {
                @include box(28px, 28px);
                background-color: #2D7D7D;
                border-radius: 10px;
                @include text(15px, sans-serif, bold);
                @include flex-row(flex, row, center, center);
                margin: 0 20px 0 0;
                color: white
            }
        }

        .group {
            @include flex-row(flex, row, space-between, left);
            @include box(80%, 80px);
            margin: 25px auto;
        }

        .label {
            @include text(20px, sans-serif, bold);
            line-height: 30px;
            color: white;
            letter-spacing: 1px;
        }

        .inputForm {
            @include box(100%, 56px);
            border: 1px solid #212121;
            padding: 0 20px;
            font-size: 16px;
            color: white;
            background-color: #151515;
            border-radius: 3px;
        }

        .input-small {
            @include box(45%, 56px);
            border: 1px solid #212121;
            padding: 0 20px;
            border-radius: 3px;
            font-size: 16px;
            background-color: #151515;
            color: white;
            margin-bottom: 20px;
        }

        .inputForm::placeholder,
        .input-small::placeholder {
            @include text(16px, sans-serif, normal);
            color: white;
        }

        #butLogin {
            @include box(200px, 60px);
            @include text(14px, sans-serif, normal);
            transition: background-color 0.5s, color 0.5s;
            color: white;
            background: #2D7D7D;
            border: 2px solid #2D7D7D;
            border-radius: 6px;
            padding: 18px 30px;
            letter-spacing: 2px;
        }

        #butAddress {
            @include box(200px, 60px);
            @include text(14px, sans-serif, normal);
            transition: background-color 0.5s, color 0.5s;
            color: #2D7D7D;
            background: white;
            border: 2px solid #2D7D7D;
            border-radius: 6px;
            padding: 18px 30px;
            letter-spacing: 3px;

        }

        #butAddress:hover {
            background-color: #2D7D7D;
            color: white;
        }

        #butLogin:hover {
            background-color: black;
            color: #2D7D7D;
            border: 3px solid #2D7D7D;
        }

        #exit{
            @include box(115px, 60px);
            @include text(14px, sans-serif, normal);
            transition: background-color 0.5s, color 0.5s;
            color: white;
            background: #2D7D7D;
            border: 2px solid #2D7D7D;
            border-radius: 6px;
            padding: 18px 30px;
            letter-spacing: 2px;
        }

        #exit:hover{
            background-color: black;
            color: #2D7D7D;
            border: 3px solid #2D7D7D;
        }

    }

}



@media screen and (max-width: 850px) {
    .container{
        width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .container{
        width: 400px;

        #formPersonal{
            .group-small{
                height: 180px;
                flex-wrap: wrap;
            }

            .input-small{
                width: 100%;
            }

            #butLogin{
                width: 100%;
            }

            #butAddress{
                width: 100%;
                
            }
        }
    }
}




@media screen and (max-width: 420px) {
    .container{
        width: 320px;

        #formPersonal{
            .group-small{
                height: 180px;
                flex-wrap: wrap;
            }

            .input-small{
                width: 100%;
            }

            #butLogin{
                width: 100%;
            }

            #butAddress{
                width: 100%;
                
            }
        }
    }
}