<ng-container>
    <div class="form">
        <ul class="list">
            <li class="list-punkt" (click)="navigateToCategory()" [routerLink]="['/about']">Про нас</li>
            <li class="list-punkt" (click)="navigateToCategory()" [routerLink]="['/delivery-payment']">Доставка</li>
            <li class="list-punkt" (click)="navigateToCategory()" [routerLink]="['/job']">Вакансії</li>
            <li class="list-punkt" (click)="navigateToCategory()" [routerLink]="['/contact']">Контакти</li>
        </ul>
    </div>
</ng-container>
